<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="/css/404.css">
</head>

<body>
  <div class="ui container">
    <div class="ui icon header">
      <i class="search icon"></i>
      404
    </div>
    <h2 class="ui header">Page Not Found</h2>
    <p>We're sorry, but the page you are looking for doesn't exist.</p>
    <button class="ui teal button" onclick="history.back()"><i class="arrow left icon"></i> Go Back</button>
  </div>
</body>
<script src="/js/goBack.js"></script>

</html>