body,
html {
  height: 100%;
  margin: 0;
}

.ui.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ui.icon.header {
  font-size: 4rem;
}

.ui.teal.button {
  margin-top: 2rem;
}