 /* Main container */
 div.ui.inverted.vertical.masthead.center.aligned.segment {
    background: linear-gradient(60deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @keyframes filmstrip-scroll {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100% 0;
    }
  }

  div.filmstrip {
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 12rem;
    width: 100vw;
    background: url('/img/filmstripLong.png');
    position: absolute;
    background-size: contain;
    top: 0;
    animation: filmstrip-scroll 30s linear infinite;
  }

  h1.ui.inverted.header {
    color: rgb(255, 223, 186);
  }

  /* text container */
  .ui.text.container {
    z-index: 1;
    position: absolute;
    background: linear-gradient(60deg, rgba(0, 0, 0, 0.9) 11.2%, rgba(11, 132, 145, 0.9) 91.1%);
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
  }

  /* Header Buttons */
  div.ui.big.inverted.teal.button {
    margin-top: 1.5rem;
  }

  div.ui.big.inverted.teal.button a {
    /* color: rgb(255, 223, 186); */
    color: aliceblue;
  }

  div.ui.big.inverted.teal.button:hover a {
    color: teal;
  }


  /* Carousel */
  #featuredCarousel {
    margin-bottom: 0px;
  }

  /* footer */
  footer.ui.inverted.vertical.footer.segment {
    position: absolute;
    width: 100%;
    text-align: left;
    padding: 2rem;
    margin-top: 0;
    bottom: 0;
  }