    /* Header Container */
    div.ui.inverted.vertical.masthead.center.aligned.segment {
      background: linear-gradient(60deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
    }

.movie-poster {
    max-width: 100%;
  }

  .movie-info {
    padding-left: 20px;
  }

  h1.heading {
    text-align: center;
  }

  .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .carousel-inner {
    height: 400px;
  }

  /* Center Carousel */
div.ui.link.cards{
  justify-content: center;
  }

/* Img modals */

/* #imageCarousel .carousel-inner .carousel-item .card{
  background-color: black;
} */


  /* Video Carousel buttons */
  #videoCarousel a.carousel-control-next {
    background-color: rgba(19, 18, 18, 0.507);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 4rem;
    margin-right: 5rem;
  }

  #videoCarousel a.carousel-control-prev {
    background-color: rgba(19, 18, 18, 0.507);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 4rem;
    margin-left: 5rem;
  }

  #videoCarousel a.carousel-control-prev .carousel-control-prev-icon {
    margin-right: .3rem;
  }

  /* Image Carousel Buttons*/
  #imagesCarousel a.carousel-control-next {
    background-color: rgba(19, 18, 18, 0.507);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 4rem;
    margin-right: 5rem;
  }

  #imagesCarousel a.carousel-control-prev {
    background-color: rgba(19, 18, 18, 0.507);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 4rem;
    margin-left: 5rem;
  }

  #imagesCarousel a.carousel-control-prev .carousel-control-prev-icon {
    margin-right: .3rem;
  }

  /* Recommendations Carousel Buttons*/
  #recommendationsCarousel a.carousel-control-next {
    background-color: rgba(19, 18, 18, 0.507);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 12.8rem;
  }

  #recommendationsCarousel a.carousel-control-prev {
    background-color: rgba(19, 18, 18, 0.507);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 12.8rem;
  }

  .ui card .content,
  .ui.cards .card .content.text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
  }

  .ui card .content,
  .ui.cards .card .content.text .character-name {
    color: rgb(152, 194, 194)
  }

  .ui.inverted.button {
    top: 0;
  }

  /* Review Style */
  h2.ui.header {
    text-align: center;
  }

  .mt-5 {
    margin-top: 5em !important;
  }

  .review {
    margin-bottom: 2em;
  }

  .review h4.ui.header {
    margin-top: 0;
  }

  .review h6.ui.sub.header {
    margin-bottom: 0.5em;
  }

  .review p {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  button.ui.teal.button a {
    color: aliceblue;
  }

  .review {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

    /* footer */
    footer.ui.inverted.vertical.footer.segment {
      padding: 3rem;
      margin-top: 3rem;
    }

    /* Media Queries */

@media (max-width: 1000px) {
  div.ui.large.secondary.inverted.pointing.menu div.item {
    display: none;
  }

  div.ui.large.secondary.inverted.pointing.menu a.toc.item {
    display: flex;
  }
  /* Cast Carousel Buttons*/
#castCarousel a.carousel-control-next {
  background-color: rgba(19, 18, 18, 0.507);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 12.8rem;
}

#castCarousel a.carousel-control-prev {
  background-color: rgba(19, 18, 18, 0.507);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 12.8rem;
}
}

@media (max-width: 620px) {
  div.ui.special.cards {
    justify-content: center;
  }

  /* input Search */
  input.prompt {
    width: 420px;
  }
}

@media (max-width: 570px) {
  div.ui.large.top.fixed.menu.transition.visible div.ui.container {
    display: none;
  }
}

@media (max-width: 530px) {
  /* input Search */
  input.prompt {
    width: 350px;
  }
}

@media (max-width: 420px) {
  div.ui.large.secondary.inverted.pointing.menu a.item {
    display: none;
  }

  input.prompt {
    width: 300px;
  }
}
