:root {
  --main-color: #0057b8;
  --secondary-color: #ffcc00;
}

body {
  background-color: #e9e5e5;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes the full height of the viewport */
}


.ui.text.container h1.ui.inverted.header {
  padding-top: 2rem;
  color: var(--secondary-color);
}

.ui.text.container h2 {
  color: var(--secondary-color);
}

.ui.button.primary {
  background-color: var(--secondary-color) !important;
  color: #000 !important;
  
}
h1.title{
  text-align: center; 
  color: black;
  margin-top: 2rem;
}

.ui.vertical.stripe.segment {
  border: none !important;
}

/* Carousel */
#featuredCarousel {
  margin-bottom: 20px;
}

/* Footer */
.footer.segment {
  margin-top: auto; /* Pushes the footer to the bottom */
  display: block;
  padding: 2em 0em;
  width: 100%;
}
