      /* Header Container */
      div.ui.inverted.vertical.masthead.center.aligned.segment {
        background: linear-gradient(60deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
      }    
    
    /* Cards */
    div.ui.special.cards {
        justify-content: center;
      }
  
      h1 {
        margin-left: 2rem;
        font-size: 2.5rem;
      }
  
      /* Results header color */
      .resultQuery {
        color: rgb(11, 132, 145)
      }
     /* toggle buttons */
      .toggled {
        background-color: #21ba45 !important;
        color: white !important;
      }
  
      .favorited {
        background-color: #e03997 !important;
        color: white !important;
      }

      /* adjust width of buttons */
      .button-container {
        display: flex;
      }
  
      .equal-width-form {
        flex: 1;
      }
  
      .equal-width-button {
        width: 100%;
      }
      .watchlist-container {
        padding: 50px 20px;
        background-color: #f9f9f9;
        text-align: center;
        margin-bottom: 2rem;
      }
  
      .watchlist-container h1 {
        margin-bottom: 30px;
      }
  
      .watchlist-container ul {
        list-style: none;
        padding: 0;
      }
  
      .watchlist-container li {
        margin-bottom: 10px;
        font-size: 18px;
      }
  
      .buttons {
        margin-top: 20px;
      }
  
      .buttons .ui.button a {
        color: white;
      }

  
      /* footer */
      footer.ui.inverted.vertical.footer.segment {
        /* position: absolute; */
        width: 100%;
        bottom: 0;
        padding: 3rem;
        margin-top: 3rem;
      }